#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
	position: absolute;
	left:50;
	top:0;
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 16.5px solid transparent;
	border-right: 16.5px solid transparent;
	border-top: 30px solid orange;
	position:absolute;
	top:100px;
	left:50;

}
#triangle-down2 {
	width: 0;
	height: 0;
	border-left: 16.5px solid transparent;
	border-right: 16.5px solid transparent;
	border-top: 30px solid orange;
	position: absolute;
	left:116.5px;
	top:100px;
}

#triangle-dl {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
	position: absolute;
	left:26px;
	top:50px;
}

#triangle-d2 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
	position: absolute;
	left:124px;
	top:50px;
}
#all {
	position: absolute;
	left:100px;
	top:300px;
	z-index:2;
}

#star-five1 {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   transform: rotate(35deg);
   content: "";
}
#star-five1:after {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   transform: rotate(-35deg);
   content:"";

}
#star-five1:before {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   transform: rotate(-70deg);
   content:"";
}
#star1 {
	position:absolute;
	top:100px;
	left:50px;
	position: relative;
    animation-name: star1;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    z-index:-1;
}
@keyframes star1 {
    0%   {left:0px; top:20px;}
    25%  {left:20px; top:100px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:300px;}
    100% {left:500px; top:400px;}
}

#star2 {
	position:absolute;
	top:90px;
	left:300px;	
	position: relative;
    animation-name: star2;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    z-index:-1;

}
@keyframes star2 {
    0%   {left:100px; top:300px;}
    25%  {left:200px; top:350px;}
    50%  {left:100px; top:400px;}
    75%  {left:300px; top:450px;}
    100% {left:400px; top:500px;}
}

#star3 {
	position:absolute;
	top:150px;
	left:50px;
	position: relative;
    animation-name: star3;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    z-index:-1;
}
@keyframes star3 {
    0%   {left:0px; top:500px;}
    25%  {left:50px; top:400px;}
    50%  {left:300px; top:300px;}
    75%  {left:50px; top:200px;}
    100% {left:400px; top:50px;}
}
body {
	background-color: rgb(33,87,80);
	width:100%;
	height:100%;
	overflow: none;
}


